.cartSection {
  background: rgb(36, 36, 36, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 125px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: end;
}

.cartDisplay {
  background: rgb(28, 76, 91);
  background: radial-gradient(
    circle,
    rgba(28, 76, 91, 1) 30%,
    rgba(46, 46, 46, 1) 82%
  );
  width: 30%;
  height: 100%;
  margin-right: 15rem;
}

.cartProduct {
  margin: 0 10px 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.cartList li:last-child {
  margin-bottom: 0;
}

.cartProductDesc {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cartProductDesc img {
  height: auto;
  width: 10rem;
  margin-right: 10px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.productTitle,
.productBrand,
.cartUtilityButton {
  margin: 0;
}

.productBrand {
  color: rgba(255, 255, 255, 0.6);
}

.cartUtilityButton {
  color: rgb(0, 140, 255);
  text-decoration: underline;
}

.cartUtilityButton:hover {
  cursor: pointer;
}

.productCheckOutInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 0;
}

.quantityDisplay {
  border: 1px solid wheat;
  border-radius: 5px;
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.quantityDisplay button {
  width: 50px;
  height: 50px;
  padding: 0;
}

.productCheckOutInfo input {
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  font-size: 20px;
  background: transparent;
}

.binButton {
  width: 20px;
  height: auto;
}
.productPrice {
  font-size: 1.5rem;
}

.cartUtility {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  justify-content: start;
  margin: 0 10px;
}

.cartTotal {
  display: flex;
  flex-direction: row;
}
