.filters {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  transition: visibility 0s, opacity 0.5s linear;
  align-items: center;
}

.rangeComponents {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.selectComponents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0 1.3rem 0;
}

.filters button {
  font-size: 1.3rem;
  width: 175px;
  border: wheat 1px solid;
  border-radius: 20px;
}

.visible {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
