.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products ul {
  width: 100%;
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  display: block;
  background: #fff;
}
