.priceRange {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rangeLabel {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  position: relative;
}

.currentValue {
  position: absolute;
  transform: translateX(-50%) translateY(-3rem);
  background: #636363;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}

.slider input {
  width: 25rem;
  height: 100%;
}
.sliderContainer p {
  font-size: 1.3rem;
  margin: 0;
}

.sliderContainer p:last-child {
  margin-left: 20px;
}

.sliderContainer p:first-child {
  margin-right: 20px;
}
