.searchBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}

.searchBar p {
  font-size: 1.3rem;
  font-weight: bold;
}

.searchBar input {
  width: 25rem;
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  border: wheat 1px solid;
  border-radius: 20px;
}
.searchBar button {
  font-size: 1.3rem;
  width: 175px;
  border: wheat 1px solid;
  border-radius: 20px;
}
