.selectComponent {
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
  justify-content: center;
}

.selectLabel {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.selectComponent select {
  min-height: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem 1.3rem;
}
